header {
	display: block;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

header h1 {
	font-family: Lucida Sans Unicode;
	font-size: 55px;
}

header #newgame {}

header #back {}

header #score {}

#grid-container {}

.grid-tile {}

.number-tile {}
